<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaAppLauncher</string>
	<key>CFBundleIconFile</key>
	<string>BibleDesktop.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.crosswire.jsword</string>
	<key>CFBundleDisplayName</key>
	<string>Bible Desktop</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Bible Desktop</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@release.version@</string>
	<key>CFBundleVersion</key>
	<string>@release.version@</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSHumanReadableCopyright</key>
	<string>Bible Desktop v@release.version@ (c) 2016</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>JVMVersion</key>
	<string>1.7</string>
	<key>JREPreferred</key>
	<true/>
	<key>JVMMainClassName</key>
	<string>org.crosswire.bibledesktop.desktop.Desktop</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>LSArchitecturePriority</key>
	<array/>
	<key>LSEnvironment</key>
	<dict>
		<key>LC_CTYPE</key>
		<string>UTF-8</string>
	</dict>
	<key>JVMOptions</key>
	<array>
		<string>-Xdock:name=Bible Desktop</string>
		<string>-Dapple.laf.useScreenMenuBar=true</string>
		<string>-Dcom.apple.macos.use-file-dialog-packages=true</string>
		<string>-Dcom.apple.macos.useScreenMenuBar=true</string>
		<string>-Dcom.apple.mrj.application.apple.menu.about.name=Bible Desktop</string>
		<string>-Dcom.apple.smallTabs=true</string>
		<string>-Dfile.encoding=UTF-8</string>
	</array>
	<key>JVMDefaultOptions</key>
	<dict>
		<key>Xmx</key>
		<string>-Xmx1024M</string>
	</dict>
	<key>JVMArguments</key>
	<array/>
</dict>
</plist>
